spring:
  ai:
    ollama:
      init:
        pull-model-strategy: when_missing
        embedding:
          include: false
      chat:
        options:
          model: llama3.1:8b

logging:
  level:
    org.springframework.ai.chat.client.advisor: DEBUG